:root {
  --primary-color: #1DBEB4;
  --color2: #545776;
  --color4: #7F7F7F;
}

.clinical-record-list-container {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative; /* Ajusta la posición relativa para posicionar el modal dentro de este contenedor */
}

.clinical-record-list-container table {
  width: 100%;
  border-collapse: collapse;
}
.clinical-record-list-container button {
  cursor: pointer; /* Agrega esta línea para cambiar el cursor a una manito */
}

.clinical-record-list-container th,
.clinical-record-list-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.clinical-record-list-container th {
  background-color: var(--color2);
  color: white;
}

.clinical-record-list-container tr:hover {
  background-color: #f5f5f5;
}

.clinical-record-list-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color2);
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  max-height: 80vh;
  overflow-y: auto; /* Permitir desplazamiento vertical dentro del modal */
  display: none;
}

/* Estilos para el botón de cerrar en el modal */
.modal .close-button {
  background-color: #7F7F7F;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal .close-button:hover {
  background-color: #1DBEB4;
}

.create-record-button {
  background-color: var(--color2);
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  margin-top: 10px;
}

.clinical-record-list-container .create-record-button:hover {
  background-color: #7F7F7F;
}

/* Asegura que el modal se muestre cuando isModalOpen es verdadero */
.modal.active {
  display: block;
}

.title {
 color: #545776;


}
/* Agrega estilos para centrar los botones y establecer el color de fondo de los iconos */
.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Ajusta el margen según sea necesario */
}

.pagination-buttons button {
  background-color: #1dbeb4; /* Establece el color de fondo */
  border: none;
  margin: 0 5px; /* Ajusta el margen según sea necesario */
  cursor: pointer;
  border-radius: 5px;
}

.pagination-buttons span {
  margin: 0 10px; /* Ajusta el margen según sea necesario */
}

.pagination-buttons button:disabled {
  background-color: #7f7f7f; /* Color cuando está desactivado */
  cursor: not-allowed; /* Cambia el cursor cuando está desactivado */
}



/* Estilos para el botón "Ver Ficha" */
.clinical-record-list-container button img {
  width: 20px;
  height: 20px;
}

/* Estilos para el botón "Descargar" */
.clinical-record-list-container button:nth-child(2) {
  margin-left: 5px; /* Ajusta el espacio entre los botones si es necesario */
}