:root {
    --primary-color: #1DBEB4;
    --color2: #383B58;
    --color4: #7F7F7F;
}
.footer {
  background-color: #1dbeb4;
  color: #383b58;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Asegura que el footer esté por encima del contenido */
}

.contain-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-text {
  display: flex;
  align-items: center;
}

.footer-text p {
  font-weight: 600;
  color: white;
  font-size: 0.875rem;
  margin: 0;
}
